:root {
    --sidebar-color: #1f1f1f;
    --sidebar-hover-color: #222222;
    --sidebar-header-color: #181818;
    --main-header-color: #f5f5f5;
    --main-content-color: #ffffff;
}

html {
    font-size: 16px;
}

@font-face {
    font-family: 'AkiraBold';
    src: url('/frontend/fonts/Akira Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'AkiraBold', system-ui, Arial, sans-serif;
}

body {
    background-color: var(--main-content-color);
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

#login-popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50dvh;
    background-color: var(--sidebar-color);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-popup-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-popup-content h1 {
    margin-bottom: 20px;
}

#login-popup-content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-popup-content form input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 100%;
}

#login-popup-content form button {
    padding: 10px;
    border: none;
    border-radius: 25px;
    width: 100%;
}

#login-popup-content form button:hover {
    cursor: pointer;
    background-color: #c2c2c2;
}

